.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 3px;
}

.header {
    text-align: center;
    background: #074E68;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 4.9rem; }
.header .headline {
    color: #ffe; }

.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%; }
.header-subnav li {
    float: none;
    display: inline-block; }
.header-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #ffe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out; }
.header-subnav li a.is-active {
    background: rgba(250, 250, 250, 0.15); }
.header-subnav li a:hover {
    background: rgba(250, 250, 250, 0.15);
    transition: all 0.35s ease-in-out; }

.event {
    padding: 1rem 1rem 1rem 0;
    display: table; }

.event-date {
    width: 6rem;
    margin: 0 auto 1rem;
    display: table-cell;
    width: auto; }
.event-date .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center; }
.event-date .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem; }

.event-desc {
    padding: 0 0 0 1rem;
    text-align: left;
    display: table-cell;
    vertical-align: top; }
.event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0; }
.event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0; }
.event-desc .event-desc-time {
    font-weight: bold; }
.event-desc .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; }

.service {
    width: 100%;
    height: 320px;
    margin: 80px 0;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.service .service-icon-box {
    position: relative;
    top: 100px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.service .service-heading {
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.service .service-description {
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
.service .service-icon-box > img.service-icon {
    width: 40px; }
.service:hover {
    border-color: #00a8ff; }
.service:hover .service-icon-box {
    top: -30px; }
.service:hover .service-heading {
    top: -30px; }
.service:hover .service-description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }